body {
  background-color: lightyellow;
}

h1 {
  color: rgb(248, 151, 6);
  margin-left: 15px;
  text-align: center;
}

h2 {
    text-align: center;
    color: purple

}
p {
    font-size: 18px 
}

.container {
    position: relative;
    text-align: center;
    color: rgb(255, 0, 0);
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
